/* Header Component */
.app-header {
  color: white;
  background-color: #774C30;
}

.app-header-content {
  max-width: 1280px;
  margin: 0 auto;
}

.app-header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-logo {
  font-size: 4rem;
  font-style: italic;
  font-family: 'Dancing Script, cursive';
  text-decoration: none;
  color: white;
  transition: opacity 0.3s;
}

.app-logo:hover {
  opacity: 0.8;
}

.app-nav-buttons {
  display: flex;
  gap: 1rem;
}

.app-nav-button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid white;
  transition: all 0.3s;
  color: white;
  background-color: transparent;
  /* Inherits Open Sans from body */
  text-decoration: none;
}

.app-nav-button:hover {
  background-color: white;
  color: #774C30;
}

